/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*{
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/************************************FIN RESET***************************************/

/*COLOR NARANJA DE LA PALETA: #faaf52
COLOR BLANCO DE LA PALETA: #fff
COLOR GRIS DE PALETA (TEXTO): #777
COLOR NEGRO DE PALETA: #111
OTRO GRIS DE PALETA: #333
GRIS FOOTER IZQ: #363840
GRIS FOOTER DER: #26272e
VIOLETA ETIQUETA PHOTO: #6165f4 
ROSA ETIQUETA DESIGN: #fb406c
CELESTE ETIQUETA TRAVEL: #00c8e3*/

body{
	font-family: Karla, sans-serif;
	background-color: #fff;
	font-size: 17px;
	margin: 0;
	padding: 0;
}

h1{
	font-family: Oswald, sans-serif;
	font-size: 44px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 24px;
}

h2{
	font-family: Oswald, sans-serif;
	font-size: 36px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 16px;
}

h4{
	font-size: 12px;
	color: #bbb;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.text-links{
	color: #faaf52;
}

.button{
	display: block;
	width: fit-content;
	margin: 0 auto;
	padding: 16px 24px;
	border: 1px solid #fff;
	color: #fff;
	font-family: Oswald,sans-serif;
	font-size: 15px;
	text-decoration: none;
	text-transform: uppercase;
}

.buttonselected, .button:hover{
	background-color: #faaf52;
	border-color: #faaf52;
}

.section{
	padding: 128px 0;
	margin: 0 auto;
	max-width: 1200px;
}

.section-header{
	text-align: center;
}

.section-header h4{
	margin-bottom: 22px;
}

.section-header h1{
	font-family: Oswald, sans-serif;
	font-weight: 500;
	font-size: 36px;
	text-transform: uppercase;
	line-height: 46px;
}

.section-header p{
	color: #777;
	font-size: 0.9em;
	line-height: 24px;
}

.flex-center-container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.portfolio-article{
	width: 31%;
}

.portfolio-article a{
	text-decoration: none;
}

.portfolio-article a img{
	width: 100%;
}

.img-pie{
	margin-top: 20px;
	flex-direction: column;
}


.img-pie h3{
	font-family: Oswald, sans-serif;
	color: #111;
	text-transform: uppercase;
	font-weight: 500;
}

.img-pie p{
	margin-top: 15px;
	color: #777;
	font-size: 0.8em;
}

.link-item{
	color: #111;
	text-decoration: none;
	font-family: Oswald, sans-serif;
	box-shadow: 0 2px 0 0 #ddd;
}

.link-item:hover, .link-item-selected{
	box-shadow: 0 2px 0 0 #111;
}

.mb-gallery{
	margin-bottom: 50px;
}

.arrows{
	background-color: #fff;
	position: absolute;
	display: flex;
	cursor: pointer;
}

.arrows div{
	padding: 20px;
	box-shadow: inset 0 -1px 0 0 #e7e7e7, inset -1px 0 0 0 #e7e7e7;
}

.arrows div:hover{
	background-color: #faaf52;
}

.etiqueta{
	padding: 7px 10px;
	background-color: red;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	font-size: 10px;
}

.etiqueta-photography{
	background-color: #6165f4;
}
.etiqueta-design{
	background-color: #fb406c;
}
.etiqueta-travel{
	background-color: #00c8e3;
}

.overlay{
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.no-bk{
	background-image: none !important;
}

.no-mr{
	margin-right: 0 !important;
}

.no-mb{
	margin-bottom: 0 !important;
}

/*Estilos del header*/

#header{
	display: flex;
	position: fixed;
	width: 100%;
	padding: 12px;
	background-color: #fff;
	font-family: Oswald, sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	align-items: center;
	z-index: 4;
}

#header h1{
	margin-bottom: 0 !important;
}

#menu-ppal-logo img{
	vertical-align: middle;
	width: 48px;
}
#menu-ppal{
	padding-left: 25px;
}
#menu-ppal ul{
	display: flex;
}
#menu-ppal ul li a{
	text-decoration: none;
	color: #ABABAB;
	padding: 12px 14px;
}
#menu-ppal ul li a:hover{
	color: #111;
}

/*SLIDER STYLES*/

#slider{
	z-index: 0;
}

#slider-overlay{
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1;
}

#slider-img{
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url(img/1stslider.jpg);
	background-size: cover;
	background-position: center center;
}

#slider-text{
	position: absolute;
	flex-direction: column;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 100px auto ;
	max-width: 800px;
	text-align: center;
	z-index: 2;
}

#slider-text h6{
	color: #faaf52;
	font-family: Oswald,sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 500;
}

#slider-text h1{
	margin: 25px auto;
	color: white;
	font-size: 72px;
	font-family: Oswald,sans-serif;
	text-transform: uppercase;
	font-weight: 500;
}

#slider-text p{
	color: #fff;
	line-height: 30px;
}

#slider-buttons{
	padding: 30px;
}

#slider-buttons a{
	margin-right: 8px;
	margin-left: 8px;
}

#slider-arrows{
	position: absolute;
	bottom: 0px;
	right: 0px;
	display: flex;
	background-color: #fff;
	z-index: 3;
}

#slider-arrows div{
	padding: 20px;
	box-shadow: inset 0 -1px 0 0 #e7e7e7, inset -1px 0 0 0 #e7e7e7;
}

#slider-location{
	position: absolute;
	color: #fff;
	left: 40px;
	bottom: 40px;
	font-size: 12px;
	z-index: 3;
	line-height: 20px;
}

#slider-location img{
	margin-right: 8px;
	margin-top: 5px;
}

#slider-location div p:nth-child(2){
	font-family: Oswald, sans-serif;
	font-size: 16px;
}

/*Services styles*/

#services{
	flex-direction: column;
}

#services-articles{
	margin-top: 100px;
}

#services-articles article{
	flex-direction: column;
	text-align: center;
	padding: 0 34px;
}

#services-articles article div{
	padding: 20px;
	margin-bottom: 32px;
	border: solid 1px #bbb;
}

#services-articles article p{
	font-size: 15px;
	line-height: 24px;
}

#services-articles a{
	margin-top: 24px;
	padding-bottom: 5px;
}

/* Estilos percentages */

#percentages {
	width: 100%;
	background-image: url(img/fondonumberssection.jpg);
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	font-family: Oswald, sans-serif;
	color: white;
}




#percentages .overlay article{
	width: 25%;
	flex-direction: column;
	padding: 90px 0;
	border: 5% solid white;
	box-shadow: 1px 0 0 0 hsla(0, 0%, 100%, 0.15);
}

#percentages .overlay article div{
	border-radius: 50%;
	border: 4px solid red;
	width: 150px;
	height: 150px;
	font-size: 28px;
	font-weight: 500;
}

#percentages .overlay article h3{
	text-transform: uppercase;
	margin-top: 30px;
}

/* Estilos about me */

#about-me{
	padding-bottom: 50px;
	padding-top: 160px;
}

#about-me-text{
	width: 50%;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	padding-left: 8%;
	padding-right: 8%;
}

#about-me-text p{
	margin-bottom: 20px;
}

#firma{
	width: 50%;
}

#about-me-imgs{
	width: 50%;
	position: relative;
}
#about-me-imgs img{
	width: 63%;
}

#about-me-fstimg{
	position: absolute;
	left: 0;
	z-index: 1;
	box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.15);
}

#about-me-sndimg{
	position: absolute;
	right: 20px;
}

#portfolio-articles, #articles-gallery{
	justify-content: space-between !important;
	margin-top: 100px;
	flex-wrap: wrap;
}

#home-contact{
	background-image: url(img/worktogetherfondo.jpg);
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
}

#home-contact h2{
	color: #fff;
}

#home-contact-text{
	width: 50%;
	margin: 0 auto;
}

#home-contact-text p{
	margin-top: 20px;
	margin-bottom: 40px;
	line-height: 24px;
	color: #bbb;
	font-size: 0.9em;
}

#testimonials, #testimonials-section{
	align-items: flex-start;
	position: relative;
}

#testimonials-header h2{
	padding-right: 150px;
}

#testimonials-arrows{
	height: 50px;
	bottom: 125px;
}

#testimonials-arrows div{
	align-items: center;
}

#testimonials-img{
	width: 5%;
	border-radius: 50%;
}

#testimonials-slider{
width: 40%;
margin-left: 30px;
margin-right: 30px;
}

#testimonials-slider h3{
	font-family: Oswald, sans-serif;
	font-size: 1.3em;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 25px;
}

#testimonials-slider p{
	color: #777;
	line-height: 28px;
	margin-bottom: 25px;
}

#comillas{
	margin-right: 150px;
}

.bk-testimonials{
	background-image: url(img/testimonialsfondo.jpg);
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

#testimonials-section, #testimonials-section a{
	color: #fff;
}

#testimonials-section p{
	color:#ddd;
}

#testimonials-section #testimonials-header #testimonials-arrows{
	background-color: transparent !important;
	box-shadow: none !important;
}

#testimonials-section #testimonials-header #testimonials-arrows div{
	border: solid 1px #fff;
}

#testimonials-section #testimonials-header #testimonials-arrows div:nth-child(2){
	border-left-style: none;
}


/* Clients estilos */

#clients{
	background-image: url(img/myclientsfondo.jpg);
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

#clients div{
	flex-direction: column;
	color: #fff;
}

#clients div div{
	width: 50%;
}

#clients-list{
	margin-top: 80px;
	justify-content: space-around;
}

#clients-list li{
width: 13%;
}

#clients-list img{
	width: 100%;
}

/* posts estilos */
#posts-header{
	justify-content: space-between;
	margin-bottom: 40px;
}

#posts-header a{
	text-decoration: underline;
	text-transform: uppercase;
	font-size: 13px;
	font-family: Oswald;
	color: #111;
}

#posts-header h2{
	font-size: 36px;
}

#posts-articles{
	justify-content: space-between;
}

.article-post{
	width: 49%;
	border: solid 1px #ddd;
	padding: 25px;
	margin-bottom: 25px;
}

.article-post img{
	width: 40%;
}

.article-post-text{
	margin-left: 35px;
}

.article-post-text h3{
	font-family: Oswald, sans-serif;
	color: #111;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
	margin-top: 25px;
}

.article-post-text p{
	color: #777;
	font-size: 12px;
	line-height: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Footer styles */
footer{
	width: 100%;
	justify-content: space-between !important;
	align-items: stretch !important;
}

#footer-left{
	width: 100%;
	padding-left: 5%;
	justify-content: space-between !important;
	align-items: flex-start !important;
	flex-direction: column;
	background-color: #363840;
}
#footer-right{
	width: 45%;
	margin-bottom: 0px;
	padding-top: 56px;
	padding-right: 5%;
	padding-left: 5%;
	background-color: #26272e;
}
#footer-left-top{
	width: 100%;
	padding-top: 56px;
	padding-bottom: 96px;
	justify-content: flex-start !important;
}
#footer-left-top a{
	display: inline-block;
	width: 100%;
	margin-right: 8%;
	font-size: 13px;
	text-decoration: none;
}
#footer-left-top a h3{
	margin-bottom: 16px;
	font-size: 15px;
	font-family: Oswald, sans-serif;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 20px;
}
#footer-left-top a p{
	display: block;
	color: #bbb;
}

#footer-left-bottom{
	width: 100%;
	justify-content: space-between !important;
}

#footer-text{
	font-size: 11px;
	line-height: 20px;
	color: #bbb;
	margin-bottom: 30px;
}

#footer-text p a{
	text-decoration: none;
	color: #fff;
}

#footer-arrowup{
	position: relative;
	margin-right: 25%;
	margin-bottom: -6px;
	width: 64px;
	height: 64px;
	background-color: #26272e;
}

#footer-arrowup:hover{
	background-color: #faaf52;
	cursor: pointer;
}

#footer-right h2{
	font-size: 22px;
	color: #fff;
	margin-bottom: 16px;
}

#footer-form{
	width: 100%;
	margin-top: 24px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#footer-form input{
	padding: 12px 20px;
}

#email-form{
	font-family: Oswald, sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	border: solid 2px #777;
	background-color: transparent;
	flex: 1;
}

#submit-form{
	margin: 0;
	width: 48px;
	background-color: #faaf52;
	border: none;
	background-image: url(img/sendicon.svg);
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}

#footer-right p{
	margin-top: 15px;
	font-size: 11px;
	color: #777;
}


/* WORKS */
#works-header{
	background-image: url(img/worktogetherfondo.jpg);
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	padding-top: 72px;
}

#works-header div div{
	padding-right: 650px;
}

#works-header div div p{
	font-size: 15px;
	line-height: 24px;
}

#articles-section{
	padding-top: 0 !important;
}

#articles-header{
	border-bottom: solid 1px #bbb;
}

#articles-filter{
	display: flex;
	padding-top: 30px;
	padding-bottom: 30px;
}
#articles-filter li{
	margin-right: 40px;
}

#articles-gallery{
	padding-top: 0 !important;
}

#blog-posts-header{
	justify-content: space-between;
	margin-bottom: 70px;
}

#blog-posts-articles{
	flex-wrap: wrap;
	justify-content: space-between;
}

#instagram-posts{
	flex-direction: column;
	padding-top: 128px;
}

#instagram-header{
	text-align: center;
	margin-bottom: 80px;
}

#instagram-header h4{
	margin-bottom: 20px;
}

#instagram-photos{
	display: flex;
	width: 100%;
	flex-wrap: nowrap;
}

.instagram-photo{
	display: inline-block;
	width: 20%;
}

.instagram-photo img{
	vertical-align: middle;
	width: 100%;
}

#instagram-more{
	background-color: red;
	width: 20%;
	padding: 20px;
	background-color: #363840;
	background-image: url(img/igmorefondo.png);
	background-position: center center;
	background-size: 160px;
	background-repeat: no-repeat;
}

#instagram-more a{
	color: #fff;
	padding-bottom: 5px;
	box-shadow: 0 2px 0 0 #777;
}

#instagram-more a:hover{
	box-shadow: 0 2px 0 0 #fff;
}
